.home{
    bottom: 0;
    text-align: center;
    /* height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%; */
}
.logo{
  width: 100px;
  height: 90px;
  margin-top: 50px;
}
.desc{
  font-weight: bold;
}
.desc span{
  color: #B2142D;
}
.btn{
  background-color: #B2142D;
  color: #ffffff;
  text-decoration: none;
  padding: 16px 32px;
  font-size: 18px;
  display: inline-block;
  margin: 22px 0px;
  border: 1px solid #B2142D;
  transition: all 0.2s ease;
}
.btn:hover{
  background-color: #ffffff;
  color: #B2142D;
  border: 1px solid #B2142D;
  transition: all 0.2s ease;
}
.home_grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    justify-content: center;
    grid-column-gap: 90px;
    grid-row-gap: 30px;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 18px;
}
.grid_boxes{
  width: 120px;
}
@media (max-width: 767px) {
  .home_grid{
    position: relative;
    margin-top: 22px;
  }
}